/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */

.btn-primary {
  padding: 12px 36px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  background-color: #4e47ff;
  color: #ffffff;
}
/*  header section start */
.nav-section {
  display: flex;
  justify-content: space-between;
  margin: 0px 35px 0 200px;
  align-items: center;
}
.logo {
  font-size: 34px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #4e47ff;
}
.sing-up {
  font-family: "Raleway", sans-serif;
  padding-right: 100px;
}
header {
  background-image: url(../Assets/Hero-bg.png);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  height: 90vh;
  width: 100%;
}

.section-text {
  font-weight: bold;
  font-size: 65px;
  color: #252432;
  text-align: center;
  padding-top: 230px;
  padding-bottom: 30px;
  font-family: "Raleway", sans-serif;
}
.focused-text {
  font-family: "Raleway", sans-serif;
  text-align: center;
}
/*  header section end */
