/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
/* // <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name

.raleway-<uniquifier> {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
 */
body {
  margin: 0;
  padding: 0;
  background-color: #f5f8ff;
}
.btn-primary {
  padding: 15px 36px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  background-color: #4e47ff;
  color: #ffffff;
  transition: all 0.8s;
}
.btn-primary:hover {
  transform: scale(1.1);
  background-color: #0d92f7;
}
/*  header section start */
a,
.sing-up {
  text-decoration: none;
  color: #ffffff;
}
.nav-section {
  display: flex;
  justify-content: space-between;
  padding: 30px 35px 0 200px;
  align-items: center;
}
.logo {
  font-size: 34px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  color: #4e47ff;
}
.sing-up {
  font-family: "Raleway", sans-serif;
  padding-right: 100px;
}
header {
  background-image: url(../Assets/Hero-bg.png);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  height: 80vh;
  width: 100%;
}

.section-text {
  font-weight: bold;
  font-size: 65px;
  color: #252432;
  text-align: center;
  padding-top: 180px;
  padding-bottom: 40px;
  font-family: "Raleway", sans-serif;
}
.focused-text {
  font-family: "Raleway", sans-serif;
  text-align: center;
}
/*  header section end */

/* action section start */

.action-part-text {
  padding-left: 220px;
}
.action-part {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 110px;
  margin-bottom: 110px;
}
.action {
  font-size: 42px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
}
.explore-text {
  color: rgba(37, 36, 50, 0.5);
  font-size: 24px;
  font-family: "Raleway", sans-serif;
  padding-bottom: 15px;
}
.action-part-image img {
  border-radius: 50px;
}
.action-part-image {
  padding-right: 210px;
}

/* action section end */
/* users section start */
.productive-users-section {
  background-color: rgba(78, 71, 255, 0.1);
  margin-left: 350px;
  margin-right: 350px;
  text-align: center;
  border-radius: 24px;
  padding-left: 100px;
  padding-right: 100px;
}
.users {
  justify-content: space-around;
  display: flex;
}
.users-active {
  justify-content: space-around;
  display: flex;
}
.users-text {
  font-size: 38px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  padding-top: 50px;
}

.fifty {
  color: #4e47ff;
  font-size: 80px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
  padding-top: 30px;
}
.active {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  padding-top: 10px;
  padding-bottom: 60px;
}
/* users section end */
/*  feedback section start */
.feedback-section {
  padding-top: 50px;
}
.feedback-text {
  font-size: 42px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
}
.feedback-persons {
  display: flex;
  justify-content: center;
}
.skills {
  border-radius: 20px;
  padding: 30px 40px;
  width: 350px;
  background-color: white;
  /* box-shadow: 0px, 5px, 15px rgba(0, 0, 0, 0.25); */
  margin-left: 50px;
}
.star-icons {
  padding-bottom: 35px;
}
.skill-title {
  font-size: 24px;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  padding-bottom: 10px;
}
.skill-description {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  padding-bottom: 15px;
}
.skill-image img {
  padding-top: 10px;
  border-radius: 50%;
}
.reviewer-name {
  padding-top: 5px;
  padding-left: 20px;
}
.skills-name {
  display: flex;
}
/*  feedback section end */
/* ready to  section start */
.ready-to-focus {
  border-radius: 20px;
  padding: 30px 40px;
  margin-left: 350px;
  margin-right: 350px;
  /* width: 100%; */
  background-color: white;
  text-align: center;
  margin-top: 200px;
}

.ready-text {
  font-size: 50px;
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
}
.ready-discription {
  font-family: "Raleway", sans-serif;
  padding-bottom: 20px;
}
.ger-star {
  padding-bottom: 20px;
}
.ger-started {
  border-radius: 50px;
  padding-bottom: 20px;
}
/* ready to  section end */
/* form section start */
.form-page {
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 100px;
}
.lets-text {
  font-weight: bold;
  font-size: 97px;
  font-family: "Raleway", sans-serif;
  padding-left: 220px;
}
form {
  padding-right: 220px;
}
label {
  font-size: 18px;
  font-family: "Inter", sans-serif;
}
input {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 200px;
  border-radius: 10px;
  border: none;
  /* box-shadow: 0px, 5px, 15px rgba(0, 0, 0, 0.25); */
}
textarea {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 100px;
  border-radius: 10px;
  border: none;
}
.get-in {
  padding-top: 10px;
}
.btn-touch {
  padding: 19px 201px;
  border-radius: 10px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  background-color: #4e47ff;
  color: #ffffff;
}

/* form section end */
/* footer section start */
footer {
  background-color: white;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-section {
  text-align: center;
  padding-top: 70px;
  padding-bottom: 50px;
}

.footer-logo {
  color: #4e47ff;
  font-size: 100px;
  font-weight: bold;
  font-family: "Inter", sans-serif;
}

.footer-text {
  color: #8987a1;
  font-family: "Inter", sans-serif;
}
.footer-nav,
li,
a {
  list-style: none;
  color: #8987a1;
}
.footer-nav,
ul,
li,
a {
  display: flex;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}
/* footer section end */
